# VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
# VITE_API_BASE_URL_IMAGES=http://127.0.0.1:8000/



VITE_API_BASE_URL=https://darkslategrey-sardine-961017.hostingersite.com/api/v1
VITE_API_BASE_URL_IMAGES=https://darkslategrey-sardine-961017.hostingersite.com/images/

# QR CODE TEST
# https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=ABA123456 

BAKONG_ACCOUNT_NAME=your_bakong_account_name
BAKONG_ACCOUNT_USERNAME=your_username@provider
BAKONG_PHONE_NUMBER=855xxxxxxxxx
BAKONG_ACCESS_TOKEN=your_bakong_access_token_here
BAKONG_PROD_BASE_API_URL=https://api-bakong.nbc.gov.kh/v1

BAKONG_DEV_BASE_API_URL=https://sit-api-bakong.nbc.gov.kh/v1